.title {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
}

.btnGroup {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;

  th,
  td {
    padding: 8px 12px;
    border-bottom: 1px solid #eee;
  }

  th {
    text-align: left;
    background-color: #f8f9fa;
  }
}

.deletedRow td {
  color: #aaa;
  text-decoration: line-through;
  background-color: #f5f5f5;
}

.pagination {
  margin-top: 16px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.pagination button[disabled] {
  opacity: 0.5;
  cursor: default;
}


.rowGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.colGroup {
  display: flex;
  gap: 8px;

  > button {
    flex: 1;
  }
}

.errorText {
  color: #e03131;
  font-size: 12px;
}